<%=form_with(model: room) do |form|%>
<%if room.errors.any? %>
    <div style="color:red">
    <h3>
        <%=pluralize(room.errors.count, "error")%>
        prohibited this room from being saved
    </h3></div>
    <ul>
        <%room.errors.full_messages.each do |msg|%>
            <li><%=msg%></li>
        <%end%>
    </ul>
<% end %>
<div>
    <div>
    <%=form.label :name%>
    <%=form.text_field :name%>
    </div>
    <div>
    <%=form.label :capacity%>
    <%=form.number_field :capacity%>
    </div>
    <%=form.submit%>
</div>
<%end%>